@CHARSET "ISO-8859-1";
.parent{
	-fx-background-color:white;
	-fx-border-color: #DBE8EE;
}
.btnPopUp{
-fx-background-color: #0085CC ;
-fx-padding: 2px 6px 2px 6px;
 -fx-cursor: hand ;
 -fx-text-fill:white;
}
.btnPopUp:hover{
-fx-background-color: linear-gradient(#0085CC,#8EC7E6);
}
.btnList{
-fx-background-color:#5f843d;
 -fx-text-fill:white;
 -fx-font-weight: bold;

}
.btnList:hover{
-fx-background-color: linear-gradient(#5f843d,#a7dc49);
-fx-cursor: hand ;

}

.btnDone{
	-fx-background-color: linear-gradient(#a31f4b, #dc4275);
  -fx-cursor: hand ;
   -fx-text-fill:white;
   -fx-font-weight: bold;
}
.btnDone:hover{
	-fx-background-color: linear-gradient(#12a6f4, #7fdcfe);
}
.btnClear{
	-fx-background-color: linear-gradient(#2f2f2f, #4c4c4c);
	-fx-font-weight: bold;
	-fx-text-fill:white;
	-fx-cursor: hand ;
}
.btnClear:hover{
	-fx-background-color: linear-gradient(#000, #252525);
 
	 
}
.btnClose {
	-fx-background-image:url("image/x.png");
	-fx-shape: url("image/x.png");
	-fx-background-position:center;
	-fx-cursor: hand ;
		
}

.toggleButtons{
	-fx-background-color: #326ABC;
	-fx-text-fill:white;
}

.toggleButtons:selected{
	-fx-background-color: #D62962;
	-fx-text-fill:white;
}
	 
